<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>148204198310-f563ltpvfnibugfc3e3c9quaupnejb17.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.148204198310-f563ltpvfnibugfc3e3c9quaupnejb17</string>
	<key>API_KEY</key>
	<string>AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI</string>
	<key>GCM_SENDER_ID</key>
	<string>148204198310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jimmyshultz.resonare</string>
	<key>PROJECT_ID</key>
	<string>resonare-app</string>
	<key>STORAGE_BUCKET</key>
	<string>resonare-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148204198310:ios:8f0c7c7cc175fc084e5cd6</string>
</dict>
</plist>